html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  width: 100%;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  background: #d9d8d7;
}

ul {
  margin: 0;
  padding: 0;
}

/*Log in Styling*/


/* Navigation styling */

.MuiBottomNavigation-root {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #d9d8d7;
  z-index: 2000;
}

.icon-image {
  width: 25px;
}

/* Messaging styling */

.MuiDrawer-paper {
  max-height: calc(100% - 84px);
}

/* Send Message */



/* Profile Page */



.page {
  opacity: 0;
}

.MuiToolbar-root {
  background: #618fe8;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .displayConversation {
    width: calc(100% - 56px);
  }
  .main {
    width: calc(100% - 56px);
  }
}


@media screen and (min-width: 601px) {
  .MuiDrawer-paperAnchorDockedLeft::-webkit-scrollbar {
    width: 3px;
  }
  .MuiDrawer-paperAnchorDockedLeft::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .MuiDrawer-paperAnchorDockedLeft::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .MuiDrawer-paperAnchorDockedLeft::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}
